body {
  background-color: yellow;
  color: green;
}

h3 {
  color: blue;
}

input {
  background: gainsboro;
  text-align: center;
}

button {
  background-color: lime;
  color: darkblue;
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
}
